<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <% include ../static/partials/messages.ejs %>
      <h1>Wikis</h1>
      <% if(!currentUser) { %>
        <p><a href="/users/signin" class="btn btn-success">Sign In</a> or <a href="/users/signup" class="btn btn-success">Sign Up</a> to create a Wiki</p>     
      <% } else if((currentUser && currentUser.role == 1) || (currentUser && currentUser.role == 2)){ %> 
        <a href="/wikis/new" class="btn btn-success">New Public Wiki</a>
        <a href="/wikis/newPrivate" class="btn btn-success">New Private Wiki</a>
        <!--<a href="/wikis/allPrivate" class="btn btn-info">View Private Wikis</a>-->
        <h2>Private Wikis</h2>
      <% } else { %> 
        <a href="/wikis/new" class="btn btn-success">New Public Wiki</a>
      <% } %>
      <ul class="list-group">

        <% wikis.forEach((wiki) => { if(currentUser && currentUser.role != 0 && wiki.private == true) { %>

          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
        <% }}) %>
      </ul>
      <br />
      <h2>Public Wikis</h2>
      <ul class="list-group">

        <% wikis.forEach((wiki) => { if(wiki.private == false){ %>

          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
        <% }}) %>
      </ul>

    </main>
  </body>
</html>